{% extends 'base.html' %}

{% block css %}
    <style>
        .fly-panel {
            background-color: #F0F4F7;
        }

        .fly-none {
            height: calc(100vh - 65px);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="layui-container">
        <div class="fly-panel">
            <div class="fly-none">
                <img src="{{ url_for('static', filename='images/500.png') }}" style="width: calc(100vw / 2 - 50px);">
                <a href="{{ url_for('view.user_manage') }}" style="color: blue;">
                    <h2 style="margin-top: 50px">返回首页</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}