{% extends 'base.html' %}

{% block css %}
    <style>
        .layui-form-item .layui-input-inline {
            width: 280px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="x-box">
        <div class="x-top"></div>
        <div class="x-mid">
            <div class="x-avtar">
                <img src="../static/images/logo.png" alt="">
            </div>
            <div class="input">
                <form class="layui-form" onsubmit="return false">
                    {{ form.hidden_tag() }}
                    <div class="layui-form-item x-login-box">
                        {{ form.username.label(class_="layui-form-label",text='<i class="layui-icon">&#xe612;</i>') }}
                        <div class="layui-input-inline">
                            {{ form.username(class_="layui-input", placeholder="用户名",required="",autocomplete="off") }}
                        </div>
                    </div>
                    <div class="layui-form-item x-login-box">
                        {{ form.password.label(class_="layui-form-label",text='<i class="layui-icon">&#xe628;</i>') }}
                        <div class="layui-input-inline">
                            {{ form.password(class_="layui-input", placeholder="******",required="",autocomplete="off") }}
                        </div>
                    </div>
                    <div class="layui-form-item" id="loginbtn">
                        {#                        {{ form.submit(class_="layui-btn") }}#}
                        <button class="layui-btn" lay-filter="save" lay-submit="">
                            登 录
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p style="color:#fff;text-align: center;">Copyright © 2017.Company name All rights X-admin </p>
{% endblock %}

{% block javascript %}
    <script>
        layui.use(['form'],
            function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //监听提交
                form.on('submit',
                    function (data) {
                        $.post('', data.field, function (result) {
                            if (result.code === 200) {
                                window.location.href = '{{ url_for('view.user_manage') }}';
                            } else {
                                layer.alert(result.msg, {icon: 5, time: 3000})
                            }
                        }, 'json');
                        return false;
                    });
            });
    </script>
{% endblock %}